html {
  box-sizing: border-box;
}

:root {
  --text-color: #2e2f42;
  --butt-color: #4d5ae5;
  --butt-color-hover: #404bbf;
  --color-white: #ffffff;
  --color-main-font: #434455;
  --color-sec-font: #f4f4fd;
  --color-butt: #e7e9fc;
  --color-social: #4d5ae5;
  --color-hover-social: #31d0aa;
  --color-icon-customs: #8e8f99;
  --color-modal: #fcfcfc;
  --main-font: 'Roboto', sans-serif;
  --sec-font: 'Raleway', sans-serif;
}

body {
  background-color: var(--color-white);
  color: #434455;
  font-family: var(--main-font);
  /* letter-spacing: 0.02em; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  /* color: inherit; */
}

/* outline: 1px solid red; */

/* dop class  */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  display: flex;
  gap: 24px;
  justify-content: center;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
  margin-left: auto;
}

.container {
  padding: 0 15px;
  width: 1158px;
  margin: 0 auto;
}

.section {
  padding: 120px 0;
}

/* Header */

.container-header {
  min-width: 1200px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  border-bottom: 1px solid #e7e9fc;
}

/* Навигация */

.menu {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  margin-top: 0;
}

.container-nav {
  display: flex;
  align-items: center;
}

.nav-item {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  padding: 24px 0;
}

.nav-menu {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}

.nav-item:hover,
.nav-item:focus,
.contact:hover,
.contact:focus {
  color: var(--butt-color-hover);
}

.nav-item.active::after {
  position: absolute;
  bottom: 0;
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--butt-color-hover);
}

/* Контакт */

.contact {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-main-font);
}

/* Логотип */

.logo {
  font-family: var(--sec-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--butt-color);
  display: flex;
  margin-right: 76px;
}

.studio {
  color: var(--color-sec-font);
}

.studio-up {
  color: var(--text-color);
}

.textstudio {
  border: 0;
  margin: 0;
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-sec-font);
}

/* Подвал */

.container-footer {
  margin: 0;
  padding: 100px 0;
}

.container-footer .logo {
  margin-bottom: 16px;
}

.footer {
  background-color: var(--text-color);
}

.footer .container {
  display: flex;
  margin-right: auto;
}

.logotip {
  display: flex;
  flex-direction: column;
  margin-right: 120px;
}

.social-items {
  display: flex;
  flex-direction: column;
}

.social-items > ul {
  display: flex;
}

.social-text {
  display: flex;
  color: var(--color-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.social-link {
  display: flex;
  justify-content: center;
  padding: 0;
}

.team-person > .social-link {
  gap: 24px;
}

.social-items > .social-link {
  gap: 16px;
}

.icon-list {
  width: 40px;
  height: 40px;
}

.icon {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-social);
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.footer .icon:hover,
.footer .icon:focus {
  background-color: var(--color-hover-social);
}

.icon-social {
  margin: auto;
  fill: var(--color-sec-font);
}

.socset {
  display: block;
  min-width: 300px;
  min-height: 35px;
  padding: 15px;
  margin: 50px auto;
  border: 4px solid red;
  border-radius: 8px;
  font-size: 24px;
  background-color: #31d0aa;

  /* transform: translateY(100%); */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sel {
  display: none;
}

.socset:hover {
  background-color: yellow;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 600px;
}

.socset:hover .butt {
  display: none;
}

.socset:hover .sel {
  display: block;
}

.socset::before {
  width: 24px;
  height: 24px;
  border: 2px solid #ffffff;
  background-color: #2e2f42;
  background-image: url('./images/icons.svg#icon-instagram');
}

.containers {
  min-width: 1200px;
}

.thumb {
  position: relative;
  display: block;
  padding: 0;
  margin: 30px auto;
  min-width: 500px;
  min-height: 500px;
  /* border: 3px solid red; */
  border-radius: 8px;
  overflow: hidden;
}

.card {
  width: 100%;
  height: 100%;
}

.thumb:hover {
  border: 3px solid transparent;
}

.containers > .thumb:nth-child(1) > .card:nth-child(1) {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(0);
  transition: transform 2000ms linear;
}

.containers > .thumb:nth-child(1) > .card:nth-child(2) {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 2000ms linear;
}

.containers > .thumb:nth-child(2) > .card:nth-child(1) {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: perspective(400px) rotateX(0deg);
  transition: transform 2000ms linear 2000ms;
}

.containers > .thumb:nth-child(2) > .card:nth-child(2) {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: perspective(400px) rotateX(90deg);
  transition: transform 2000ms linear;
}

.containers > .thumb:nth-child(3) > .card:nth-child(1) {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: transform 1000ms linear 1000ms;
}

.containers > .thumb:nth-child(3) > .card:nth-child(2) {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: transform 1000ms linear;
}

.containers > .thumb:nth-child(1):hover > .card:nth-child(1) {
  transform: translateX(100%);
  transition: transform 2000ms linear;
}

.containers > .thumb:nth-child(1):hover > .card:nth-child(2) {
  transform: translateX(0);
  transition: transform 2000ms linear;
}

.containers > .thumb:nth-child(2):hover > .card:nth-child(1) {
  transform: perspective(400px) rotateX(90deg);
  transition: transform 2000ms linear;
}

.containers > .thumb:nth-child(2):hover > .card:nth-child(2) {
  transform: perspective(400px) rotateX(0deg);
  transition: transform 2000ms linear 2000ms;
}

.containers > .thumb:nth-child(3):hover > .card:nth-child(1) {
  transform: scale(0) rotate(360deg);
  transition: transform 1000ms linear;
}

.containers > .thumb:nth-child(3):hover > .card:nth-child(2) {
  transform: scale(1) rotate(360deg);
  transition: transform 1000ms linear 1000ms;
}

.thumb .card .img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.text {
  color: yellow;
  position: absolute;
  bottom: 40px;
  transform: translateX(50%);
}

.containers {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.section__box {
  min-width: 680px;
  padding: 40px;
  background-color: teal;
  border-radius: 10px;
  margin: 25px;
  box-shadow: 2px 2px 2px 2px #000000;
}

.main__box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
  min-width: 600px;
  height: 400px;
  padding: 20px;
  border-radius: 10px;
  background-color: #31d0aa;
  margin: 0 auto;
  box-shadow: 2px 2px 3px 2px #000000;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  font-size: 72px;
  color: white;
  box-shadow: 5px 5px 10px 0px #000000;
}

.box-1 {
  background-color: tomato;
}

.box-2 {
  position: relative;
  /* margin: 500px; */
  background-color: blue;
}

.box-3 {
  background-color: green;
}

.box.box-1:hover,
.box.box-2:hover,
.box.box-3:hover {
  opacity: 0;
  /* margin: 150px; */
}

.section__box-1 {
  display: inline-flex;
  position: relative;
  width: 280px;
  padding: 20px;
  background-color: rgb(133, 217, 217);
  border-radius: 60px;
  box-shadow: 2px 2px 2px 2px #000000;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}

.main__box-1 {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: row;
  min-width: 220px;
  width: 240px;
  padding: 20px;
  border-radius: 70px;
  background-color: #a7cdc4;
  margin: 0 auto;
  box-shadow: 2px 2px 3px 2px #000000;
}

.box-4 {
  position: absolute;
  appearance: none;
  padding: 0;
  margin: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: white;
  border: 1px solid #4a4545e0;
  box-shadow: 5px 1px 9px 3px rgba(0, 0, 0, 0.45);
  background-color: gray;
  z-index: 999;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section__box-2 {
  position: absolute;
  min-width: 280px;
  height: 100%;
  top: 0;
  left: 0;
  padding: 20px;
  background-color: red;
  border-radius: 60px;
  box-shadow: 2px 2px 2px 2px #d79e9e;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.main__box-2 {
  position: absolute;
  width: 240px;
  height: calc(100% - 40px);
  top: 50%;
  left: 20px;
  padding: 20px;
  border-radius: 70px;
  background-color: #e16ddf;
  box-shadow: 2px 2px 3px 2px #000000;
  opacity: 0;
  transform: translateY(-50%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 200;
}

.box-4:checked {
  border: 1px solid #ccc;
  box-shadow: 4px 4px 9px 3px rgba(0, 0, 0, 0.45);
  transform: translateX(-180px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main__box-1 .box-4:checked ~ .section__box-2 {
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main__box-1 .box-4:checked ~ .main__box-2 {
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box-4:checked {
  border: 1px solid #f2311ce0;
  background-color: rgb(42, 231, 0);
}

.box-4:checked ~ .section__box {
  display: none;
}
